@page "/view-booking/{CentreName}"

@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime

<h3>Viewing booking(s) for @CentreName</h3>

@if (bookings.Any())
{
    <ul class="list-group">
        @{
            var guestGroups = bookings.GroupBy(b => b.GuestName);
        }
        @foreach (var group in guestGroups)
        {
            <li class="list-group-item">
                <strong>@group.Key</strong>
                <ul class="list-group">
                    @foreach (var booking in group)
                    {
                        <li class="list-group-item">Start Date: @booking.StartDate.ToString("dd-MM-yyyy")</li> 
                        <li class="list-group-item">End Date: @booking.EndDate.ToString("dd-MM-yyyy")</li>
                    }
                </ul>
            </li>
        }
    </ul>
}
else
{
    <p>No bookings available in @CentreName</p>
}

@code {
    private static readonly string _apiurl = "http://localhost:5249/api/CentreBookingApplication/";

    [Parameter]
    public string CentreName { get; set; }

    public List<APIClasses.Booking> bookings { get; set; } = new List<APIClasses.Booking>(); 

    protected override async Task OnInitializedAsync()
    {
        string api_request = _apiurl + "get-booking/" + CentreName;

        var response = await HttpClient.GetAsync(api_request);

        if (response.IsSuccessStatusCode)
        {
            bookings = await response.Content.ReadFromJsonAsync<List<APIClasses.Booking>>();    
        }
    }

    private void ShowAlert(string msg)
    {
        jsRuntime.InvokeVoidAsync("alert", msg);
    }
}
